@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    position: relative;
    top: 10vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
}