nav {
  background-color: #b90000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav img {
  margin-left: 20px;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  color: #fff;
}

nav ul li:hover {
  text-decoration: underline;
}

nav ul li button {
  width: 150px;
  color: #b90000;
  border-radius: 999px;
  font-size: 18px;
  border: 5px solid #fff;
  background-color: #fff;
  height: 50px;
}

nav ul li button:hover {
  color: #fff;
  background-color: #b90000;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
}

.hero .text-content {
  color: #fff;
  text-align: center;
}

.hero .text-content h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 15px;
}

.hero .text-content h3 {
  font-size: 35px;
  margin-bottom: 15px;
}

.hero .text-content button {
  width: 250px;
  color: #fff;
  background-color: #b90000;
  border-radius: 999px;
  font-size: 18px;
  border: 1px solid #b90000;
  height: 50px;
}

.hero .text-content button:hover {
  color: #b90000;
  background-color: #fff;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.beneficios h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}

.beneficios .item {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 90%;
}

.beneficios .item:nth-child(3) {
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
}

.beneficios .item .itemPhoto .imgItem {
  width: 80%;
  height: auto;
}

.beneficios .item:nth-child(3) .itemPhoto {
  display: flex;
  justify-content: right;
  width: 50%;
  padding-right: 10%;
}

.beneficios .item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 10%;
  width: 50%;
}

.beneficios .item:nth-child(3) .item-content {
  justify-content: left;
  padding-left: 10%;
}

.beneficios .item .item-content h3 {
  color: #b90000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.beneficios .item .item-content p {
  padding-right: 40%;
}

.testimonial {
  height: 90vh;
  background-image: linear-gradient(
    to top,
    rgba(185, 0, 0, 0.2),
    rgba(255, 255, 255, 1)
  );
}

.testimonial .text {
  text-align: center;
}

.testimonial .text h2 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.testimonial .text p {
  font-size: 1.1rem;
}

.testimonial .container-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0px 50px;
}

.testimonial .container-cards .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 20px 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  height: 50vh;
  text-align: left;
  width: 25%;
}

.testimonial .container-cards .card h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 3rem;
    color: #b90000;
}

.testimonial .container-cards .card q {
    font-size: 0.7rem;
    line-height: 2rem;
}
